@include desktop {
    .title {
        font-size: 42px;

        &__content {
            gap: 32px;
        }
    }

    .subtitle {
        font-size: 20px;
    }

    .pic {
        height: 500px;

        &__img {
            left: -30px;
        }
    }
}

@include laptop {
    .title {
        font-size: 37px;

        &__content {
            max-width: 100%;
            padding: 48px 0 0 0;
        }
    }

    .subtitle {
        font-size: 18px;
        margin: 0 0 16px 0;
    }

    .pic {
        height: 425px;

        &__img {
            left: 0;
        }
    }
}

@include tablet {
    .title {
        font-size: 32px;

        &__wrap {
            padding: 0px 0 47px 0;
        }

        &__content {
            gap: 24px;
            width: 415px;
        }
    }

    .subtitle {
        font-size: 17px;
        margin: 0 0 10px 0;
    }

    .pic {
        height: 100%;

        &__img {
            left: 10px;
            top: 0;
            height: 120%;
        }
    }
}

@media (max-width: 500px) {
    .section-title {
        padding: 24px 0 24px 0;
    }

    .title {
        font-size: 28px;
        text-align: center;
        margin: 0 0 187px 0;

        &__wrap {
            grid-template-columns: 1fr;
            position: relative;
            padding: 0;
        }

        &__content {
            width: 100%;
            padding: 0;
        }
    }

    .subtitle {
        font-size: 16px;
        text-align: center;
        margin: 0;
    }

    .pic {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 0;
        margin: 0 auto;
        height: 182px;

        &__img {
            height: 150%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

@media (max-width: 430px) {
    .pic {
        left: -15px;

        &__img {
            height: 135%;
        }
    }
}

@media (max-width: 370px) {
    .section-title {
        padding: 16px 0 16px 0;
    }

    .title {
        font-size: 24px;
        margin: 0 0 172px 0;
    }

    .subtitle {
        font-size: 15px;
    }

    .pic {
        top: 70px;
        height: 172px;

        &__img {
            height: 118%;
        }
    }
}
