.footer {
    &__wrap {
        padding: 90px 0 0 0;
        border-top: 1px solid rgb(255, 255, 255, 0.1);
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        gap: 12px;
        max-width: 216px;
    }

    &__link {
        font-size: 18px;
        color: map-get($color, "white");
        line-height: 140%;
        opacity: 0.8;
        @extend %transition;

        &:is(:hover, :focus) {
            color: map-get($color, "red");
        }
    }
}
